{# File: views/partials/footer.twig #}

<footer>

  <section id="contact" class="widthFull container" style="background-color:#00669f;padding-top: 4em;padding-bottom: 4em;min-height: 12em;">
    <div class="section-inner widthGlobal" style="color: #ffffff;flex-direction: row;justify-content: space-around;">
      <div>

              <div class="hero-photo">
                    <img src="{{ site.link }}/wp-content/uploads/2019/11/me.png">
              </div>
        <h2 style="font-weight: normal;">Hello!</h2>
      </div>
      <div style="color: #000000;">

        {{ function('do_shortcode', '[contact-form-7 id="431" title="Contact form 1"]') }}

      </div>

    </div>
  </section>

  <section class="widthFull container" style="padding-top: 3em;">
    <div class="section-inner widthGlobal">
      {% include 'partials/logo.twig' %}

      {% include 'partials/nav-links.twig' %}

    </div>
  </section>

  <section class="widthFull container">
    <div id="footer-legal" class="section-inner">
      <div style="margin-bottom: 1em;">Theme:
        <a href="theme" style="text-decoration: underline">Kal's Theme</a>
      </div>
      Copyright &copy;
      {{ "now"|date('Y') }}
      Kal Erikson
    </div>
  </section>
</footer>
