<header id="page-header" class="widthFull container">

  <section class="page-header-inner widthGlobal" style="z-index: 3;position: relative;">
    {% include 'partials/logo.twig' %}
    {% include 'partials/nav.twig' %}
  </section>

</header>