{# File: views/partials/nav.twig #}

<nav id="nav-main" role="navigation">

    {% include 'partials/nav-links.twig' %}

  <div id="nav-toggle">
    <icon id="nav-icon-open" class="icon-open icon">
      <div></div>
      <div></div>
      <div style="margin-bottom: 0;"></div>
    </icon>
    <icon id="nav-icon-close" class="icon-close icon">
      <div></div>
      <div></div>
    </icon>
  </div>
</nav>
