{% include 'partials/header-base.twig' %}

  <body class="{{body_class}}" data-template="base.twig">

    {% include 'partials/header.twig' %}

    <main role="main">
        <section class="widthFull container">

          <div class="section-inner widthGlobal">
            <div class="page-title hero-title">
              <h1>{{ post.title }}</h1>
            </div>
          </div>

        </section>

        {% block content %}{% endblock %}

    </main>

{% include 'partials/footer.twig' %}