{# File views/pages/index.twig #}

{% extends 'layouts/base-hero.twig' %}
{% block content %}

  <section class="widthFull container">

    <div class="section-inner">

      {{ post.content | shortcodes }}

    </div>

  </section>

{% endblock %}
