{% extends 'layouts/base-hero2.twig' %}
{% block content %}

  <section class="widthFull container">
    <div class="section-inner">
          {{ post.content | shortcodes }}
    </div>
  </section>

{% endblock %}