{% extends 'layouts/base-project.twig' %}

{% block content %}

      <section class="widthFull container project-post">

        <div class="section-inner widthGlobal2">



        {{ post.content | shortcodes }}

            </div>

          </section>

{% endblock %}
